* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.search-box {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    label{

    }
    input {
        border: none;
        border-bottom: 1px solid gray;
    }
    input::placeholder {
        text-align: center;
    }
}