
.posts-container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
    margin-top: 5vw;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    position: relative;
    img {
        width: 30%;
        height: fit-content;
        border-radius: 20px;
    }
    .details {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
            text-decoration: none;
            color: black;
            font-size: 30px;
            font-weight: 800;
        }
        p {
            color: gray;
        }
        a {
            text-decoration: underline;
            color: #1DACD6;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            span {
                color: gray;
            }
            button {
                background: none;
                border: none;
                color: gray;
                text-decoration: underline;
            }
        }
        .imgs-container {
            display: flex;
            gap: 5vw;
            margin-top: 10px;
            div {
                width: 140px;
                height: 140px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                img {
                    width: 200px;
                    height: auto;
                }
            } 
        }
    }
    .copyLink {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

p {
    width: 100%;        
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;
}

@media only screen and (max-width: 992px){
    .post {
        padding-bottom: 10vw;
        img {
            width: 100%;
        }
        flex-direction: column;
        .details {
            width: 100%;
            .title {
                font-size: 20px;
            }
        }
        .copyLink {
            height: fit-content;
            bottom: -8px;
            svg {
                width: 30px;
            }
        }
    }
}